repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    - id: black
      language_version: python3.10
      args: # arguments to configure black
        - --line-length=79

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    # Identify invalid files
    - id: check-ast
    - id: check-yaml
    - id: check-json
    - id: check-toml
    # git checks
    - id: check-merge-conflict
    - id: detect-private-key
    - id: check-case-conflict
    # Python checks
    - id: check-docstring-first
    - id: debug-statements
    - id: requirements-txt-fixer
