astropy>=4.0
ccdproc>=2.1
git+git://github.com/jveitchmichaelis/rascal@main#egg=rascal
plotly>=4.0
git+git://github.com/astropy/astroscrappy@master#egg=astroscrappy
spectres>=2.1.1
numpy>=1.16
scipy>=1.5.2
statsmodels>=0.12
pyreduce-astro~=0.4