astropy>=4.0
ccdproc>=2.1
Cython>=0.29.23
git+git://github.com/jveitchmichaelis/rascal@dev#egg=rascal
plotly>=4.0
git+git://github.com/astropy/astroscrappy@master#egg=astroscrappy
spectres>=2.1.1
numpy>=1.16
scipy>=1.5.2
statsmodels>=0.12